<h1><%=params[:college]%> Posts</h1>
<div>
	<%=form_with url: posts_path do |postNew|%>

		<%=postNew.label :content%>
		<%=postNew.text_field :content%>

		<%= postNew.label "Secret Mode" %> 
    	<%= postNew.check_box :mode %> 


		<%=postNew.submit 'Create Post'%>

	<%end%>
</div>
<div>
	<% @post.each do |post|%>
		<ul>
			<%= render "post", post: post %>
		</ul>
		
	<%end%>
</div>

