<h1><%=params[:college]%> Posts</h1>
<div>
	<%=form_with url: posts_path do |postNew|%>

		<%=postNew.label :content%>
		<%=postNew.text_field :content%>

		<%= postNew.label "Secret Mode" %> 
    	<%= postNew.check_box :mode %> 


		<%=postNew.submit 'Create Post'%>

	<%end%>
</div>
<div>
	<% Array(@post).each do |post|%>
		<p>
			<%=post.content%>
			<small><sub><%=post.user.email%></sub></small>
			<%= link_to "Delete", post_path(post) , method: :delete%>
		</p>
		
	<%end%>
</div>

